*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    color: white;
}

header{
    text-align: center;
    background-color: black;
    width: 100%;
    height: auto;
}
nav{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around ;
    align-items: center;
    background: linear-gradient(rgb(117, 114, 114),black);
}
.botones{
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.buscador{
    width: 250px;
    height: auto;
    padding: 4px;
}

.news{
    color: black;
    padding: 5px;
    border: solid 3px;
    cursor: pointer;
}
.news:hover{
   
    background-color: rgb(190, 216, 216);
   translate: 0.9em;
}
.verMas{
    color: black;
    padding: 4px;
    border: solid 3px;
    cursor: pointer;
}
.verMas:hover{
    width: 70px;
    background-color: rgb(190, 216, 216);
    translate: 0.9em;
}
.formulario{
    width: 40%;
    height: 300px;
   text-align: center;
    background-color: rgba(65, 38, 1, 0.359);
    border: solid 3px;
}
.formulario input{
    width: 90%;
    height: 30px;
    margin: 6px;
    color: black;
}
.displayOf{
    display: none;
}
.botonForm{
    color: black;
    padding: 4px;
}
.lista{
    width: 100%;
    display: flex;
    justify-content: center;
   
    padding: 8px;
    background-color: rgb(219, 212, 212);
}
.container{
   width: 50%;

}

.tarjeta{
    
    width: 100%;
    height: auto;
    padding: 4px;
    background-color: rgb(69, 66, 66);
    border: solid 5px rgb(16, 15, 15);
    margin: 6px;

}
.tarjeta:hover{
    background-color: black;
}
h3{
    font-size: 1.8em;
}
.apellido{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.divInfo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.info{
    width: 50%;
   height: 100px;
   
}
.info img{
    border: solid 2px white;
}